body 
{
    background-image: url('images/loan.png');
    background-size:100%;
    background-repeat:no-repeat;
}
h1
{
    text-align:center;
    color:orangered;
}
#homeLink
{
    margin:700px;
}
#signupLink
{
    margin:760px;
}
#loginLink
{
    margin:820px;
}
.design 
{
    border-style:solid;
    margin: 500px;
    margin-top: 50px
}
#btnCenter
{
    margin:100px;
}
